`opentelemetry` SD-ID proposed in syslog format is not allowed by RFC 5424

I am reviewing Logger specs as a preparation in implementing it in Erlang implementation and I have spotted that specs suggests [using `opentelemetry` SD-ID when working with "legacy syslog" format](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/overview.md#syslog-rfc5424).

> Trace id, span id and traceflags SHOULD be recorded via SD-ID "opentelemetry".

This **directly** collides with the [RFC 5424 Section 6.3.2.](https://datatracker.ietf.org/doc/html/rfc5424#section-6.3.2) that states that all names not containing at sign (`@`) are reserved for IANA and should not be used unless registered. AFAIK we haven't registered such SD-ID in IANA yet.


That will probably require creating RFC that will extend RFC 5424.

I am guessing there must be a registration process that is different from a full blown RFC: https://www.iana.org/assignments/syslog-parameters/syslog-parameters.xml

We did something similar for OTLP port registration with IANA.

I don't know if we want to go into the trouble though. Seems like a pretty low value feature (I may be wrong). As far as I know the structured data is rarely used with syslog. Most people just cram the attributes into the message.