Propagators API: RFC7230 has been obsoleted by RFC9110 and RFC9112

**What are you trying to achieve?**

[RFC7230](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2), which specifies HTTP header fields, has been obsoleted by [RFC9110](https://tools.ietf.org/html/rfc9110/) and [RFC9112](https://tools.ietf.org/html/rfc9112/) in June 2022.

https://github.com/open-telemetry/opentelemetry-specification/blob/bc61ad5b4c5cd4a4e250eb72b2c6bfdf2c74b157/specification/context/api-propagators.md?plain=1#L122-L123

Shouldn't we update the Propagators API documentation to reference RFC9110 [Section 5](https://tools.ietf.org/html/rfc9110/#name-fields) (or [Section 6.3](https://tools.ietf.org/html/rfc9110/#section-6.3)), which specifies the latest HTTP Header Fields specification?
RFC9110 is a compilation of HTTP specifications since HTTP/2 and HTTP/3 are newly introduced.
Therefore, there are no changes to the HTTP header fields specification, and this issue does not alter the Propagators API specification.


What did you expect to see?

```
 In order to increase compatibility, the key/value pairs MUST only consist of US-ASCII characters 
 that make up valid HTTP header fields as per [RFC9110](https://tools.ietf.org/html/rfc9110/#name-fields).
```


**Additional context.**
[Propagators API#TextMap Propagator](https://opentelemetry.io/docs/reference/specification/context/api-propagators/#textmap-propagator)
